body {
    margin: auto;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(0, 0, 0);
}

.container {
    background-color: rgb(255, 255, 255);
    margin: auto;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 195, 255);
    color: rgb(255, 255, 255);
    padding-top: 52px;
    text-align: center;
}

h1 {
    background-color: rgb(0, 195, 255);
    margin-bottom: 0;
    padding-top: 52px;
}

h3 {
    color: rgb(0, 195, 255);
    letter-spacing: 2px;
    padding-left: 100px;
    padding-right: 100px;
}

p {
    color: rgb(0, 0, 0);
    padding-left: 100px;
    padding-right: 100px;
    font-size: 12px;
}

.right {
    float: right;
}

.text-right {
    float: left;
    text-align: right;
}

footer {
    clear: both;
    text-align: center;
    background-color: rgb(10, 25, 53);
    height: 70px;
    width: 100%;
    color: rgb(255, 255, 255);
    margin: auto;
    padding-top: 20px;
}

.text {
    padding-top: 5px;
    color: rgb(255, 255, 255);
}

@media (max-width: 1024px) {
    header {
        background-color: rgb(65, 6, 242);
    }

    h1 {
        background-color: rgb(65, 6, 242);
    }

    path {
        fill: rgb(65, 6, 242);
    }
}

@media (max-width: 768px) {
    header {
        background-color: rgb(168, 29, 94);
    }

    h1 {
        background-color: rgb(168, 29, 94);
    }

    path {
        fill: rgb(168, 29, 94);
    }
}

@media (max-width: 480px) {
    header {
        background-color: rgb(52, 165, 82);
    }

    h1 {
        background-color: rgb(52, 165, 82);
    }

    path {
        fill: rgb(52, 165, 82);
    }
}